In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("william_ruto_tweets.csv")

In [5]:
df.head(10)

,Unnamed: 0,user,text,favorite_count,retweet_count,create_at
0,0,WilliamsRuto,"In Embakasi, Nairobi County, for the 49th Gene...",97,6,2023-01-12 11:47:46+00:00
1,1,WilliamsRuto,A sense of safety and security is the foundati...,115,9,2023-01-12 11:47:45+00:00
2,2,WilliamsRuto,We must rise to the challenge of securing the ...,370,50,2023-01-12 11:47:45+00:00
3,3,WilliamsRuto,"General Service Unit Passing out Parade, Embak...",979,117,2023-01-12 10:06:58+00:00
4,4,WilliamsRuto,"General Service Unit Passing out Parade, Embak...",233,40,2023-01-12 07:58:07+00:00
5,5,WilliamsRuto,"General Service Unit Passing out Parade, Embak...",233,37,2023-01-12 07:49:56+00:00
6,6,WilliamsRuto,"General Service Unit Passing out Parade, Embak...",248,34,2023-01-12 07:24:25+00:00
7,7,WilliamsRuto,"General Service Unit Passing out Parade, Embak...",551,68,2023-01-12 06:55:59+00:00
8,8,WilliamsRuto,"General Service Unit Passing out Parade, Embak...",520,84,2023-01-12 06:27:39+00:00
9,9,WilliamsRuto,Ongoing Administration Police Passing out Para...,2492,225,2023-01-11 09:03:09+00:00

In [4]:
df.tail()

,Unnamed: 0,user,text,favorite_count,retweet_count,create_at
195,195,WilliamsRuto,"Joined Chief Justice Martha Koome, Attorney Ge...",414,49,2022-12-05 15:34:36+00:00
196,196,WilliamsRuto,That is why the Government is keen on supporti...,477,53,2022-12-05 15:34:34+00:00
197,197,WilliamsRuto,We strongly believe delays in court cases are ...,1679,179,2022-12-05 15:34:32+00:00
198,198,WilliamsRuto,Launch of the Administration of Justice in Ken...,823,138,2022-12-05 07:35:12+00:00
199,199,WilliamsRuto,With Deputy President @rigathi and other leade...,819,91,2022-12-04 11:12:07+00:00

In [9]:
df['retweet_count'].idxmax()

108

In [14]:
df['text'][df['retweet_count'].idxmax()]

'Congratulations Argentina for winning the world Cup. My African team at world Cup played a superb game. Will pay my bet!!! All round wonderful game. Tukutane home. https://t.co/Cx9BZDZRnJ'

In [16]:
df.iloc[108]

Unnamed: 0                                                      108
user                                                   WilliamsRuto
text              Congratulations Argentina for winning the worl...
favorite_count                                                53634
retweet_count                                                  8812
create_at                                 2022-12-18 18:31:21+00:00
Name: 108, dtype: object

In [18]:
df['text'][df['favorite_count'].idxmax()]

'Congratulations Argentina for winning the world Cup. My African team at world Cup played a superb game. Will pay my bet!!! All round wonderful game. Tukutane home. https://t.co/Cx9BZDZRnJ'

In [20]:
df['text'][df['favorite_count'].idxmin()]

'The Agreement sets out a foundation for broad-based consultations between the signatories on important actions that will ensure a successful transition and usher in stability for the Sudan.'

In [21]:
df['text'][df['retweet_count'].idxmin()]

'In Embakasi, Nairobi County, for the 49th General Service Unit passing out parade. https://t.co/ZJ7Kirhce1'